<launch>

    <node pkg="handover" type="pyclient.py" name="kinect_data" required="true"/>

    <node pkg="handover" type="move_baxter.py" name="MoveBaxter" required="true" output="screen"/>

    <node pkg="handover" type="OtpGenerator.py" name="OtpGenerator" output="screen">
    </node>


</launch>